<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <i class="fa fa-university"></i></br>
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}

      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.tags == null) %}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <details {% if page.tags contains "tutorial" %}open{% endif %}>
        <summary>Tutorials</summary>
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.tags contains "tutorial" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </details>

      <details {% if page.tags contains "reference" %}open{% endif %}>
        <summary>References</summary>
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.tags contains "reference" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </details>

      <hr>
      <span>
        <a href="{{ site.github.repo }}/stargazers">
          <img src="https://img.shields.io/github/stars/madcapjake/earl-academy.png?style=social&label=Star" alt="GH Stars" />
        </a>
        <a href="{{ site.github.repo }}/issues">
          <img src="https://img.shields.io/github/issues/madcapjake/earl-academy.png?style=flat-square" alt="GH Issues" />
        </a>
      </span>
      </br>
      <span>
        <a href="https://breuleux.github.io/earl-grey/">
          <img src="https://img.shields.io/badge/Earl-Grey-lightgrey.png?style=flat-square" alt="Earl Grey Site" />
        </a>
        <a href="{{ site.github.repo }}/blob/master/LICENSE.md">
          <img src="https://img.shields.io/github/license/madcapjake/earl-academy.png?style=flat-square" alt="MIT License" />
        </a>
      </span>

      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
